<div id="file-upload" class="tna-grid-row">
    <div class="tna-grid-column-two-thirds tna-file-upload">
        <h1 class="tna-heading-xl">Upload Records</h1>
        <form id="file-upload-form">
            <div class="tna-form-group">
                <div class="drag-and-drop">
                    <div>
                        <div class="tna-form-group">
                            <div class="drag-and-drop__dropzone">
                                <input type="file" id="file-selection" name="files"
                                    class="tna-file-upload drag-and-drop__input" webkitdirectory>
                                <p class="tna-body drag-and-drop__hint-text">Drag and drop a single folder here or</p>
                                <label for="file-selection" class="tna-button tna-button--secondary drag-and-drop__button">
                                    Choose folder
                                </label>
                            </div>
                            <button class="tna-button" type="submit" data-module="tna-button" role="button">
                                Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>